@import "./Settings.scss";

.contact{
    width: 100%;
    height: calc(100vh - 12vh);
    position: relative;

    .contact-container{
        margin-top: 12vh;
        width: 100%;
        height: calc(100vh - 12vh);

        img{
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 60%;
            filter: brightness(30%);
            z-index: -1;
        }
    }
}