@import "./Settings.scss";
               
.home{
    header{
        position: relative;
        height: 100vh;

        .main-img{
            position: fixed;
            top: 0;
            bottom: 0;
            height: 100%;
            object-fit: cover;
            filter:brightness(90%) grayscale(10);
        }
    
        .header-content{
            position: absolute;
            top: 12vh;
            right: 0;
            left: 0;
            bottom: 0;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        
            p{
                font-size: 14px;
                color: $alt-fontColor;
            }
        }
    }


    main{
        position: relative;
        background: red;
        margin-top: 15vh; 
    }
}

@media (max-width: 950px){
    .main-img{
        filter:brightness(50%) grayscale(10); 
    }
}



