@import "./Settings.scss";

.navbar{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    max-width: 1920px;
    height: 12vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 5vw;
    background: $main-bgColor;
    z-index: 100;

    nav{
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 2vw;
    }

    .home-title{
        color: $main-fontColor;
        text-decoration: none;

        .edited{
            color: $sec-fontColor;
        }
    }

    .link{
        color: $alt-fontColor;
        text-decoration: none;
        position: relative;

        &::before{
            content: attr(data-hover);
            position: absolute;
            left: 0;
            right: 0;
            width: 0;
            color: $sec-fontColor;
            overflow: hidden;
            transition: all .3s ease;
        }

        &:hover::before{
            width: 100%;
        }
    }
}



