@import "./Settings.scss";

.navbar{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 12vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 5vw;
    background: $main-bgColor;
    z-index: 100;

    nav{
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 2vw;
    }

    .home-title{
        color: $main-fontColor;
        text-decoration: none;

        .edited{
            color: $sec-fontColor;
        }
    }

    .link{
        color: $alt-fontColor;
        text-decoration: none;
    }
}



