@import "./Settings.scss";

.networks{
    width: 100%;
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5vw;

    .network{
        color: $main-fontColor;
        text-decoration: none;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        i{
            border: 2px solid $sec-fontColor;
            border-radius: 50px;
            padding: 15px;
        }
        
        p{
            margin-top: 10px;
        }
    }
}