@import "./Settings.scss";

h2{
    color: white;
    font-size: clamp(40px, 12vw, 150px);
    z-index: 100;

    .serif-font{
        font-family: $alt-ffamily;
                                            
    }
}