@import "./Settings.scss";

.projects{
    width: 100%;
    height: 100vh;

    .projects-container{
        margin-top: 12vh;
        display: block;
        width: 100%;

        h2{
            color: white;
            font-size: clamp(60px, 10vw, 150px);

            .serif-font{
                font-family: $alt-ffamily;
                                                    
            }
        }
    }
}