// Import des fonts
@import url('https://fonts.cdnfonts.com/css/montreal');
@import url('https://fonts.cdnfonts.com/css/gallient');

$font-family: 'Montreal', sans-serif;
$alt-ffamily: 'Gallient', sans-serif;
                                                                            
// Couleurs
$main-fontColor: #f8f8f8;
$sec-fontColor: #CFFF20;
$alt-fontColor: #bebebe;
$main-bgColor: #111111;