@import "./assets/Style/Settings.scss";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;;
}

body{
    width: 100%;
    max-width: 1420px;
    margin: 0 auto;
    font-family: $font-family;
    color: $main-fontColor;
    background: $main-bgColor;
    overflow-x: hidden;
}