@import "./assets/Style/Settings.scss";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100%;
    min-height: 100vh;
    padding: 0 5vw;
    font-family: $font-family;
    color: $main-fontColor;
    background: $main-bgColor;
}